@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.campus-tent-map {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px 40px 0;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin: 40px;
}

.buttons-right {
  display: flex;
  flex-direction: row;
}

.title {
  margin: 0;
  color: #0099ff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 900;
}

.subtitle {
  color: #606060;
  font-size: 15px;
}

.research {
  text-transform: uppercase;
  padding: 13px 10px;
  background-color: #0099ff;
  color: #fff;
  font-weight: 900;
  margin-right: 10px;
}

.theme {
  text-transform: uppercase;
  padding: 10px;
  color: #0099ff;
  background-color: #fff;
  font-weight: 900;
  border: #0099ff 3px solid;
}

.campus-logo,
.cappra-logo {
  height: 70px;
}
.campus-logo {
  margin-right: 10px;
}

.content {
  flex: 1;
}
